.Excel table {
  border: solid 1px black;
  margin: 20px;
  font-family: sans-serif;
  font-size: 14px; }

tbody > tr:not(:last-child) > td, th {
  border-bottom: solid #000 1px; }

td {
  padding: 4px; }

input {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0; }
