.whinepad .whinepad-toolbar {
  margin: 40px; }

.whinepad .whinepad-toolbarAdd {
  float: left; }

.Whinepad .whinepad-toolbar-search {
  float: right; }

.whinepad .whinepad-toolbar-add-button {
  font-size: 32px; }

.whinepad .whinepad-datagrid {
  clear: both;
  margin: 40px;
  padding-top: 20px; }
